# how many times have i typed a command
alias count="history | cut -d' ' -f 5 | sort | uniq -c | sort"

# most common shortcuts
alias f="foreman"
alias fs="foreman start"
alias n="npm"
alias fix="rubocop --auto-correct"

# Git
alias ga="git add"
alias gbd="git branch -d"
alias gb="git branch"
alias gc="git commit -m"
alias gcb="git checkout -b"
alias gco="git checkout"
alias gcm="git checkout master --"
alias gd="git diff"
alias gm="git merge"
alias gp="git push"
alias gpu="git push --set-upstream origin"
alias gs="git status"
alias g="git"

# Git: Fixup
# fixup specific commit `gf bb3333`
# fixup most recent commit with matching keyword `gf :/elixir`
alias gf="git commit --fixup"
alias gpn="git push --set-upstream origin create-actor"

# Vim
alias vb="vim ~/.bash_profile"
alias vk="vim ~/.keys"
alias v="vim"
alias s="bin/rails s"
alias nv="nvim"

# Mix
alias ips="iex -S mix phx.server"
alias mps="mix phx.server"
alias mpr="mix phx.routes"
alias mt="mix test"
alias gl="git log --oneline --decorate --graph --all"
alias glp="git log --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s'"
alias cra="create-react-app"
alias ho="heroku open"
alias gph="git push heroku"
alias sss="selenium-standalone start"
alias ..="cd .."
alias ...="cd ../.."
alias l="ls -lah"
alias va="vim ~/.aliases"
alias vh="vim ~/.helpers"
alias t="touch"
alias mdc="mix deps.clean --unused --unlock"

# Rails
alias rff="rspec -ff"
alias r="rackup"
alias rdbm="rake db:migrate && rake db:migrate RAILS_ENV=test"
alias ber="bundle exec rake"
alias berr="bundle exec rake routes"
alias renv="bundle exec pry -r ./config/environment.rb"
alias br="bundle exec rake"
alias be="bundle exec"

# System
alias sites="cd ~/Development/code/sites"

# Directorys
alias scrapers="cd ~/Development/code/ruby/scrapers"
alias js="cd ~/Development/code/js"

alias pserver="python -m SimpleHTTPServer"

# JS
alias bn="babel-node"

# Bash
alias pwdc="pwd | pbcopy"
alias code="cd ~/Code"
alias tr="cd ~/Code/taskrabbit"
alias tasker="cd ~/Code/taskrabbit/tasker"
alias v3="cd ~/Code/taskrabbit/v3"
alias sink="cd ~/Code/taskrabbit/sink"
alias lrn="cd ~/Code/learn"

# Node
alias install_redux="npm install react-redux --save"
alias ns="npm start"
alias nrj="npm run jest"
alias npmc="npm run compile"
alias npmt="npm test"

# yarn
alias ys="yarn start"

# middleman
alias ms="middleman server"

alias sb="source ~/.bash_profile"

#rbenv
# initalize rbenv cause it's terrible
alias rbi="eval '$(rbenv init -)'"

alias x="exit"

# search and replace with the silver searcher
function agr {
  ag -l "$1" | xargs sed -i '' -e 's/$1/$2/g'
  # ag -0 -l "$1" | AGR_FROM="$1" AGR_TO="$2" xargs -r0 perl -pi -e 's/$ENV{AGR_FROM}/$ENV{AGR_TO}/g';
}

# ssh
alias staging18internal="ssh -i /Users/yiannakokalas/.ssh/yianna_staging yianna@staging-18.taskrabbit.in"
#`ssh -i /Users/{your username}/.ssh/id_rsa {your name}@staging-{your server number}.taskrabbit.in`
#`ssh -i /Users/yiannakokalas/.ssh/id_rsa yianna@staging-18.taskrabbit.in`
# don't forgot to sudo su deploy
